body {
  height: 100%;
  margin: 0 auto;
  min-width: 600px;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 10px;
  padding-bottom: 36px;
}
p,
h2,
h1 {
  margin-block-start: 0px;

  margin-block-end: 0px;
}


.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 8px;
}

.image-dollar {
  margin-top: 16px;
  margin-left: 40px;
  margin-bottom: 21px;
}

.text-container {
  margin-left: 41px;
  margin-top: -64px;
}

.main-text {
  color: #6074aa;
  font-family: Russo One;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

  letter-spacing: 2.56px;
  text-transform: uppercase;
}

.main-text-second {
  color: #6867e8;
  font-family: Russo One;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 2.56px;
  text-transform: uppercase;
}
.image-rectangle {
  margin-bottom: 12px;
  margin-top: 12px;
}

.second-text {
  color: #6074aa;
  font-family: Roboto Condensed;
  font-size: 34px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.card-container {
  min-width: 600px;
  height: 391px;
  background: linear-gradient(90deg, #667eea 0%, #624ba2 100%);
  background-size: 100%;
}

.card-container-second {
  min-width: 600px;
  height: 391px;

  background-size: 100%;
}

.card-container-third {
  min-width: 600px;
  height: 508px;
  background: linear-gradient(90deg, #667eea 0%, #624ba2 100%);
  background-size: 100%;
}

.information-container {
  min-width: 537px;
  height: 306px;

  background-size: 100%;
  margin-left: 29px;
  margin-right: 34px;
  margin-top: 61px;
  margin-bottom: 36px;
}

.image-main {
  position: relative;
}

.image-second {
  position: relative;
}

.image-main-geometry {
  mix-blend-mode: color-dodge;
}

.image-main-palm {
  border-radius: 4px 0px 0px 4px;
  background: lightgray 50% / cover no-repeat, #c4c4c4;
  top: -70px;
  position: absolute;
}

.image-main-mountains {
  border-radius: 3px;
  background: lightgray 50% / cover no-repeat, #c4c4c4;
  top: -76px;
  left: 22%;
  position: absolute;
  align-items: center;
}

.image-main-field {
  border-radius: 0px 4px 4px 0px;
  background: lightgray 50% / cover no-repeat, #c4c4c4;
  top: 70px;
  position: absolute;
  right: 0px;
}

.image-main-geometry-second {
  mix-blend-mode: color-dodge;
  position: absolute;
  right: 0px;
  top: 105px;
}

.image-main-geometry-third {
  mix-blend-mode: color-dodge;
  position: absolute;
  right: 0px;
  top: 223px;
}

.card-text {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 22.4px */
  width: 246px;
  margin-bottom: 20px;
  /* margin-left: 312px; */
}

.second-card-text {
  color: #343642;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 22.4px */
  width: 248px;
  margin-top: 117px;
  margin-bottom: 20px;
}

.third-card-text {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 22.4px */
  width: 340px;
  margin-top: 178px;
  margin-bottom: 20px;
}

.btn {
  width: 248px;
  height: 48px;
  z-index: 1;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 5px 12px 0px rgba(102, 121, 227, 0.2);

  margin-bottom: 117px;
  color: #656fd4;
  text-align: center;
  font-family: Russo One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.btn:hover,
.btn:focus {
  background: linear-gradient(90deg, #d4d6e3 0%, #ab99db 100%);
  box-shadow: 0px 5px 12px 0px rgba(189, 192, 211, 0.2);
}

.btn-second {
  border-radius: 4px;
  background: linear-gradient(90deg, #667eea 0%, #624ba2 100%);
  box-shadow: 0px 5px 12px 0px rgba(102, 121, 227, 0.2);
  color: #fff;
  text-align: center;
  font-family: Russo One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 248px;
  height: 48px;
}

.btn-second:hover,
.btn-second:focus {
  background: linear-gradient(90deg, #667eea 0%, #ab99db 100%);
  box-shadow: 0px 5px 12px 0px rgba(102, 121, 227, 0.2);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 312px;
}

.second-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 310px;
}

.third-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-main-second-card-geometry {
  position: absolute;
  top: 0px;
  right: 0px;
}

.info-text {
  color: #545454;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 18px;
}
.info-text:last-of-type {
  margin-bottom: 0px;
}
.image-footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 36px;
}

@media screen and (min-width: 1001px) {
  body {
    min-width: 1000px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .image-dollar {
    margin-top: 16px;
    margin-left: 40px;
    width: 80px;
    height: 90px;
  }

  .image-geometry {
    width: 500px;
    height: 256px;
  }

  .main-text,
  .main-text-second {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
  }
  .second-text {
    font-size: 38px;
  }
  .card-text {
    width: 307px;
  }
  .image-main-palm {
    top: -94px;
    width: 33%;
    height: 289px;
  }

  .second-card-text {
    width: 307px;
  }

  .image-main-field {
    top: 55px;
    width: 33%;
    height: 289px;
    right: 0px;
  }

  .image-main-mountains {
    top: -93px;
    left: 31%;
    width: 370px;
    height: 289px;
  }

  .third-card-text {
    margin-top: 220px;
  }

  .info-text {
    font-size: 14px;
  }
  .image-footer {
    width: 200px;
    height: 200px;
  }
  br {
    display: none;
  }
}

@media screen and (min-width: 1199px) {
  body {
    min-width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .image-dollar {
    margin-top: 16px;
    margin-left: 40px;
    width: 80px;
    height: 90px;
  }
  .card-container {
    height: 470px;
  }
  .card-container-second {
    height: 470px;
  }

  .card-container-third {
    height: 550px;
  }

  .main-text,
  .main-text-second {
    font-size: 40px;
  }

  .second-text {
    font-size: 40px;
  }

  .card-text {
    width: 514px;
    font-size: 18px;
  }

  .image-main-palm {
    top: -105px;
    width: 500px;
    height: 360px;
    left: -41px;
  }

  .second-card-text {
    width: 514px;
    font-size: 18px;
  }
  .image-main-geometry {
    width: 33%;
    height: 30%;
  }
  .image-main-geometry-second {
    height: 300px;
    width: 37%;
    top: 71px;
  }

  .image-main-second-card-geometry {
    height: 300px;
    width: 37%;
    top: -48px;
  }

  .image-main-geometry-third {
    height: 300px;
    width: 37%;
    top: 155px;
  }

  .image-main-field {
    top: 45px;
    width: 35%;
    height: 360px;
    right: 0px;
  }

  .image-main-mountains {
    top: -93px;
    left: 33%;
    width: 35%;
    height: 289px;
  }

  .third-card-text {
    margin-top: 220px;
    width: 531px;
    font-size: 18px;
  }

  .info-text {
    font-size: 16px;
  }

  body {
    padding-left: 0px;
    padding-right: 0px;
  }
}
